<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAn3zDXuRFxURgVq5s4ZbRkgoxVYSO11Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>359331496106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.engieersTheAide</string>
	<key>PROJECT_ID</key>
	<string>engineers-theaide</string>
	<key>STORAGE_BUCKET</key>
	<string>engineers-theaide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359331496106:ios:31f02a6fdb80e61b78d0d3</string>
</dict>
</plist>